.card {
  text-align: center;
  margin: 200px auto 0 auto;
  font-size: 36px;
  width: 1000px;
}

.btn-group {
  margin: 0 auto;
}

.Header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: lightblue;
  color: black;
  text-align: center;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: white;
  text-align: center;
}